/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}

header{
    background-color: rgba(255, 144, 14, 0.1);
}
.heading-primary{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    line-height: 75px;
    margin-bottom: 30px;
}
.btn-primary{
    padding: 20px 26px;
    background: #FF900E;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

/* Navigation Styles */
nav{
    padding: 50px 240px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.m-menu, .m-cart{
    display: none;
}
.logo h2{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    list-style: none;
}
.items li{
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    cursor: pointer;
}

/* Banner Styles */
.section-banner{
    margin-top: 50px;
}
.banner-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-details{
    width: 862px;
    height: 225px;
    margin-bottom: 32px;
}
.banner-text{
    font-size: 16px;
    line-height: 26px;
    color: #727272;

}
.banner-img{
    margin: 50px auto;
}

/* Gallery Section */
.section-gallery{
    padding: 85px 300px 130px;
}
.gallery-container{
    display: flex;
    gap: 73px;
    align-items: center;
}
.gallery-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.gallery-heading{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
}
.list{
    font-weight: 500;
    color: #727272;
}
.feat{
    color: #FF900E;
}
.gallery-text{
    font-size: 16px;
    line-height: 26px;  
    color: #727272;
    margin-bottom: 32px;
}

/* Feature-section */
.section-features{
    padding: 0 240px;
    padding-bottom: 130px;
}
.feature-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 146px;
}
.feature-details{
    width: 586px;
}
.heading-secondary{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
}
.feature-heading{
    width: 468px;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.feature-text{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
}
.feature-card{
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}
.card-headin{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}
.card-text{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.feature-img{
    position: relative;
}
.feature-img img{
    border-radius: 8px;
}
.feature-btn{
    position: absolute;
    left: -92px;
    bottom: -77px;


    padding: 42px;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #FF900E;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.feature-btn span{
    font-weight: 700;
    font-size: 65px;
}

/* Facts Section */
.section-facts{
    padding: 0 240px;
    margin-bottom: 180px;
}
.facts-details{
    margin-bottom: 100px;
}
.facts-text{
    width: 542px;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.facts{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 124px;
}
.fact{
    padding: 55px 36px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
.fact:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    z-index: 2;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.fact img{
    margin-bottom: 10px;
}
.fact-number{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin-bottom: 5px;
}
.fact-name{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* Sponsor Section */
.section-sponsor{
    padding: 0 240px;
    margin-bottom: 130px;
}
.sponsor-container{
    text-align: center;
}
.sponsor-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sponsor-text{
    width: 542px;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 50px;
}
.sponsors{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 155px;
}
.sponsors img{
    filter: grayscale(100%);
}

/* Footer Section  */
footer{
    padding: 0 240px;
    margin-bottom: 116px;
}
.footer{
    padding: 38px 410px;
    background: #FFF4E7;
    border-radius: 8px;
}
.footer-text{
    font-size: 16px;
    text-align: center;
    color: #424242;
}

/* Work Section  */
.section-work{
    padding: 0 240px;
    margin-bottom: 240px;
}
.work-container{
    text-align: center;
}
.work-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.work-text{
    width: 600px;
    margin-bottom: 50px;
}
.work-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    
}
.work-img img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


/*-------------------------------
 Responsive Mobile (small device) 
 --------------------------------*/
@media screen and (max-width: 576px) {

    /* Navigation */
    nav{
        padding: 36px 26px;
    }
    .nav-menu{
        display: none;
    }
    .m-menu, .m-cart{
        display: block;
    }
    .logo{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo h2{
        font-size: 16px;
    }

    /* Banner */
    .section-banner{
        margin-top: 28px;
    }
    .banner-container{
        padding: 0 20px;
    }
    .banner-details{
        width: 100%;
        height: 100%;
    }
    .banner-img img{
        width: 100%;
        height: 100%;
    }

    /* Gallery */
    .section-gallery{
        padding: 20px 20px;
    }
    .gallery-container{
        flex-direction: column;
        gap: 50px;
    }
    .gallery-images{
        grid-template-columns: repeat(1, 1fr);
    }

    /* Features */
    .section-features{
        padding: 10px 20px;
        margin-top: 50px;
    }
    .feature-container{
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
    .feature-details{
        width: 100%;
    }
    .feature-heading{
        width: 100%;
        font-size: 36px;
    }
    .feature-img{
        width: 100%;
    }
    .feature-img img{
        width: 100%;
    }
    .feature-btn{
        position: relative;
        bottom: 0;
        left: 25%;

        padding: 10px 20px;
        font-size: 16px;
        margin: 15px 0;
    }
    .feature-btn span{
        font-size: 30px;
    }

    /* Facts Section */
    .section-facts{
        padding: 10px 20px;
        margin-top: 60px;
    }
    .facts-heading{
        font-size: 36px;
    }
    .facts-details{
        margin-bottom: 30px;
    }
    .facts{
        flex-direction: column;
        gap: 20px;
        padding: 0 50px;
    }
    .facts-text{
        width: 100%;
    }
    .fact{
        padding: 46px 22px;
    }

    /* Sponsor section */
    .section-sponsor{
        padding: 0px 20px;
    }
    .sponsor-heading{
        font-size: 36px;
    }
    .sponsor-text{
        width: 100%;
    }
    .sponsors{
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .sponsors img{
        width: 100px;
    }

    /* Footer section */
    footer{
        padding: 10px 20px;
        margin-bottom: 20px;
    }
    .footer{
        padding: 20px 30px;
    }
    .footer-text{
        font-size: 12px;
    }

    /* Work Section  */
    .section-work{
        padding: 10px 20px;
        margin-bottom: 50px;
    }
    .work-text{
        width: 100%;
    }
    .work-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .work-img img{
        width: 100%;
    }
}